# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
env/
*.env

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
coverage.xml
*.lcov
.cache/

# IDE-specific files (optional)
.vscode/
.idea/
*.swp
*.swo
*.swn

# MacOS-specific
.DS_Store
